/* styles.css */

body {
    font-family: Arial, sans-serif;
}

th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.username-search{
    height: 2.5rem;
    width: 15rem;
    border: 1px solid aqua;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: aqua;
    color: black;
}
.mb-8{
    height: 25rem;
    margin-bottom: 3rem;
}
